<div class="p-4 rounded-lg shadow-lg bg-pink-500">
  <p>User id{{id}}</p>
  <p>Username {{username}} </p>
  <p>User Level {{level}}</p>
  <p>Total player points: {{ total_points }}</p>

    {{#each results as |result|}}
      <p>Game History
      {{result.points}}
      </p>
    {{/each}}
</div>