<div class="p-4 rounded-lg shadow-lg bg-pink-500">
  <p>User id{{id}}</p>
  <p>Username {{username}} </p>
  <p>User Level {{level}}</p>
  <p>Total player points: {{ total_points }}</p>
  <p>Total games played: {{ results.length}}</p>
  <p>Last Game result :
  {{#each results as |result|}}
    {{#if @last}} {{result.points}}{{/if}}
  {{/each}}
  </p>
</div>