<div class="p-4 rounded-lg shadow-lg">
  <div class="text-purple-300 flex flex-wrap items-center justify-between">
    <div>
      <h6 class="text-3xl">{{@index}}</h6>
    </div>
    <img src="{{image}}" alt="" class="w-[100px] max-w-full rounded-full">
    <div class="">
      <div class="col-span-full text-right">
        <button class="btn bg-rose-700 text-white text-xs p-1 font-bold">
          Delete User
        </button>
      </div>

      <div>{{ username}}</div>
      <div class="col-span-2 bg-green">
        <p>User id{{id}}</p>
      </div>
      <div class="col-span-1 bg-black">
        <p> </p>
      </div>


      <p>User Level {{level}}</p>
      <p>Total player points: {{ total_points }}</p>
      <p>Total games played: {{ results.length}}</p>
      <p>Last Game result :
        {{#each results as |result|}}
        {{#if @last}} {{result.points}}{{/if}}
        {{/each}}
      </p>

    </div>
  </div>



</div>