<div class="p-3 md:px-7 md:py-3 rounded-lg shadow-lg bg-purple-900/[0.2]">
  <div class="text-purple-300 flex flex-col lg:flex-row items-center justify-between">
    <div class="flex flex-col md:flex-row md:flex-wrap md:gap-10">
      <div class="flex justify-center items-center mb-3 md:mb-0">
          <h6 class="text-3xl">{{@index}}</h6>
      </div>
      <div class="flex flex-col justify-center items-center mb-3 md:mb-0">
        <img src="{{image}}" alt="" class="w-[80px] max-w-full rounded-full mb-3 md:mb-0 border-2 border-solid border-purple-300">
        {{!-- {{#if superuser }}
          <button class="btn bg-rose-700 text-white text-xs p-1 font-bold">
            Delete User
          </button>
        {{/if}} --}}
      </div>
      <div class="flex flex-col md:flex-row justify-center items-center mb-3 md:mb-0 gap-4">
        <div class="text-white text-2xl uppercase font-bold mb-2 md:mb-0">{{username}}</div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-3 md:gap-6">
      <div class="grid grid-cols-2 md:grid-cols-4 justify-between items-center gap-3">
          <div class="p-2 flex flex-col justify-center items-center font-bold text-center">
            <p class="text-xs text-purple-300 mb-2">User Level</p>
            <p class="text-xl text-white">{{ level }}</p>
          </div>
          <div class=" p-2 flex flex-col justify-center items-center font-bold text-center">
            <p class="text-xs text-purple-300 mb-2">Total Games Played: </p>
            <p class="text-xl text-white">{{ results.length}}</p>
          </div>
          <div class="p-2 flex flex-col justify-center items-center font-bold text-center">
            <p class="text-xs text-purple-300 mb-2 ">Last Game Result : </p>
            <p class="text-xl text-white">{{#each results as |result|}}
            {{#if @last}} {{result.points}}{{/if}}
            {{/each}}</p>
          </div>
        <div class="p-2 flex flex-col justify-center items-center font-bold text-center">
          <p class="text-xs text-purple-300 mb-2">Total Player Points: </p>
          <p class="text-xl text-white">{{ total_points }}</p>
        </div>
      </div>
      <div class="flex items-center justify-center mb-3 md:mb-0">
        <span class="bg-purple-800 text-purple-300 p-1 uppercase font-bold text-sm rounded-l-lg">id</span>
        <span class="bg-purple-400 text-white p-1 uppercase font-bold text-sm rounded-r-lg">{{id}}</span>
      </div>
    </div>
  </div>
</div>

