<section class="flex flex-col w-11/12 lg:10/12">
  <div class="text-center">
    <h1 class="p-4 text-pink-500 inline-block mb-3 text-3xl font-extrabold">User Profile</h1>
  </div>
  <div class="col-span-full bg-sky-500/[.06] p-3 rounded-lg text-white">
    <div class="grid grid-cols-3 gap-4">
      <div class="p-4 rounded-lg shadow-lg">
        <img src="{{image}}" alt="">
        <p>User id{{id}}</p>
        <p>Username {{username}} </p>
        <p>User Level {{level}}</p>
        <p>Total player points: {{ total_points }}</p>
        <p>Game History</p>
        <ul>
          {{#each results as |result|}}
            <li>pts: {{result.points}}</li>
          {{/each}}
        </ul>
       <a href="/api/users/delete-myself" class="badge badge-danger">Delete Account</a>
      </div>
    </div>
  </div>

  <form class="mt-4" action="/api/users/set-img" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" name="file" id="input-files" class="form-control-file border" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
