<section class="flex flex-col w-11/12 lg:10/12">
  <div class="text-center">
    <h1
      class="px-4 py-2 bg-purple-300 text-purple-600 inline-block mb-3 text-3xl font-extrabold before:absolute before:bg-purple-600 relative h1-bg-style relative -top-[28px]">
      USER PROFILE</h1>
  </div>
  <div class="p-3 text-white w-full md:w-10/12  mx-auto">
    <div class="flex flex-col gap-4">
      {{#each users as |user userRank|}}
      {{> rank-details}}
      {{/each}}
    </div>
  </div>

    <div class="grid grid-cols-3 gap-4">

      <div class="p-4 rounded-lg shadow-lg">
       <p>User id{{id}}</p>
        <img src="{{image}}" alt="" class="h-auto w-[200px] max-w-full rounded-full">
      </div>
      <div>
        <div class="flex flex-wrap border">
          <div class="rounded-l-lg"><p>Username </p></div>
          <div class="rounded-r-lg">{{username}}</div>
        </div>


                <p>User Level {{level}}</p>
                <p>Total player points: {{ total_points }}</p>
                <p>Game History</p>
                <ul>
                  {{#each results as |result|}}
                  <li>pts: {{result.points}}</li>
                  {{/each}}
                </ul>
      </div>
    </div>

  <form class="mt-4" action="/api/users/set-img" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="update-photo">Upload Photo</label>
      <input type="file" name="file" id="input-files" class="form-control-file border" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>